body {

  background-color:  hsl(0, 0%, 95%);
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: #190e44;
  border: 2px solid #ffffff;
  border-bottom: 4px solid hsl(252, 100%, 54%);
  border-radius: 10px;
  height: 150px;
  width: 100%;
  position: relative;
}

h1 {
  position:absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
  top:10%;
  color: white;
}

h2 {
  position:absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  top: 40%;
  text-transform: uppercase;
  color: white;
}

h3 {
  position:absolute;
  font-family: 'Times New Roman';
  font-style: oblique;
  font-size: 20px;
  text-transform: uppercase;
  top: 60%;
  color: #ffae00;
}

h1, h2, h3 {
  text-align: center;
  left: 25%;
  width: 50%;
  letter-spacing: 2px;
}

h4 {
  position:absolute;
  color: #466995;
  font-family: 'Oswald', sans-serif;
}

h5 {
  position:absolute;
  color: #466995;
  font-family: 'Georgia', sans-serif;
}

h6 {
  position:absolute;
  color: #466995;
  font-family: 'Oswald', sans-serif;
}

li {
  color: #000000;
  font-family: "Georgia";
  font-size: 15px;
  padding-left: 20px;
  font-weight: 10;
  text-align: center;
  text-transform: capitalize;
  padding-left: 200px;
  padding-right: 200px;
}

img{
  border: 0px solid white;
  border-radius: 5px;
  position:relative;

}

#logo1{
  position: absolute;
  left:8%;
  width: 150px;
}

#logo2{
  position: absolute;
  left:85%;
  width:150px;
}

#bandieraItaliana{
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  top: 25px;
  left:450px;
}

#commerce {
  position: absolute;
  width: 45%;
  left: 53%;
}

#facebook{
  left: 90px;
}

#instagram{
  left: 160px;
}

#twitter{
  left: 230px;
}

#facebook, #instagram, #twitter{
  position: absolute;
  top: 50px;
}

.Pubblicità {
  border: 5px solid #ffffff;
  border-radius: 10px;
  padding: 0px;
  text-align: center;
  width: 99%;
}

.TitoloModello {
  position: relative;
  height: 50px;
  width: 40%;
}

.TitoloModello h4, .TitoloModello h5{
  position: absolute;
  text-align: left;
  left: 10px;
}

.TitoloModello h4 {
    top: 5px;
    font-size: 100%;
    text-transform: uppercase;
}

.TitoloModello h5 {
  top:20px;
  font-size: 95%;
}

.Referenze{
  position: relative;
  margin: 1px;
  border-radius: 5px;
  left:0px;
  width: 100%;
}

.Referenze li{
  font-family: 'Times New Roman', sans-serif;
  background-color: hsl(203, 100%, 50%);
  border: 2px solid #ffffff;
  border-top: 2px solid hsl(203, 100%, 50%);
  border-left: 2px solid hsl(203, 100%, 50%);
  border-right: 2px solid hsl(203, 100%, 50%);
  border-bottom: 2px solid hsl(252, 100%, 54%);
  border-radius: 5px;
  color: white;
  letter-spacing: 2px;
  height: 25px;
  margin: 0px;
  text-align: center;
  padding: 0px;
  width: 19%;
  display: inline-block;
}

.contatti {
  position: absolute;
  width: 20%;
  height: 100px;
  display: inline-block;
  left: 45%;
  top:100%;
}

.contatti h6 {
  left: 30%;
  bottom: 30%;
  font-size: 17px;
}

.contatti img{
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  bottom: 20px;
  border: 0px solid white;
  border-radius: 5px;
}

iframe {
  position: absolute;
  margin-left: 10px;
  width: 50%;
  height: 65%;
  top:280px;
}
