body {

  margin: 0 auto;
  width: 100%;
}

body, .Referenze li, header{
  background-color: white;
}

header {
  border: 0px solid #190e44;
  border-bottom: 4px solid hsl(0, 0%, 15%);
  border-radius: 10px;
  height: 150px;
  width: 100%;
  position: relative;
}

h1 {
  font-size: 25px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px white;
  top:10%;
}

h2 {
  font-size: 20px;
  top: 40%;
  text-transform: uppercase;
}

h3 {

  font-size: 20px;
  text-transform: uppercase;
  top: 60%;
}

h1, h2, h3 {
  font-style: oblique;
  font-family: 'Georgia', serif;
  position: absolute;
  text-align: center;
  left: 25%;
  width: 50%;
  letter-spacing: 2px;
  color: #hsl(0, 0%, 15%);
}

h4 {
  position:absolute;
  color: #466995;
  font-family: 'Oswald', sans-serif;
}

h5 {
  position:absolute;
  color: #466995;
  font-family: 'Georgia', sans-serif;
}

h6 {
  position:absolute;
  color: #466995;
  font-family: 'Oswald', sans-serif;
}

p {
    position: absolute;
}

img{
  border: 0px solid white;
  border-radius: 5px;
  position:relative;
}

#logo1{
  position: absolute;
  left:8%;
  width: 150px;
}

#logo2{
  position: absolute;
  left:85%;
  width:150px;
}

#bandieraItaliana{
  position: absolute;
  max-width: 40px;
  max-height: 40px;
  top: 25px;
  left:450px;
}

.Pubblicita, .sceltaMateriali{
  left: 58%;
}

.Pubblicita {
  position: relative;
  border: 0px solid;
  border-radius: 5px;
  width: 800px;
  height: 400px;
  bottom: 580px;
}

#mobilia1, #mobilia2, #mobilia3, #mobilia4 {
  width: 49%;
  height: 49%;
}

#facebook{
  left: 90px;
}

#instagram{
  left: 160px;
}

#twitter{
  left: 230px;
}

#facebook, #instagram, #twitter{
  position: absolute;
  top: 50px;
}

#anteprimaComodino{
  left:0px;
}

#anteprimaComodino2{
  left: 170px;
}

#anteprimaComodino3{
  left: 340px;
}

#anteprimaComodino, #anteprimaComodino2, #anteprimaComodino3
{
  position: absolute;
  top: 60px;
  width: 150px;
  height: 150px;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 5px;

}

#bandieraItaliana{
  display: none;
}

#titolo, #sottotitolo, #titolo1, #sottotitolo1, #titolo2, #sottotitolo2,
 #frame, #personalizzazione, #LegnoPinoCorpo, #LegnoEbanoCorpo, #LegnoPinoCassetti, #LegnoEbanoCassetti, #Oro,
 #corpocomodino, #piedicassetti{
  display: none;
}

.Modelli {
  position: relative;
  top:120px;
  left: 1%;
  height: 500px;
  width: 70%;
}

.Modelli h4, .Modelli h5 {
  position: absolute;
  text-align: left;
  left: 10px;
  color: hsl(0, 0%, 35%);
}

.Modelli h4 {
    top: 5px;
    font-size: 100%;
    text-transform: uppercase;
}

.Modelli h5 {
  top:23px;
  font-size: 100%;
  font-family: 'Georgia', sans-serif;
  text-shadow: 1px 1px 2px hsl(0, 0%, 35%);
}

iframe {
  position: absolute;
  margin-left: 2px;
  width: 1100px;
  height: 800px;
  top:490px;
  border-radius: 5px;
  border: 0px solid hsl(0, 0%, 95%);
}

.anteprimaComodini{
  position: relative;
  width: 40%;
  top: 0px;
  height: 100px;
  left:1%;
}
.anteprimaComodini p {
  position: absolute;
  font-size: 24px;
  color: hsl(0, 0%, 15%);
  font-family: 'Georgia', serif;
  text-shadow: 1px 1px 2px hsl(0, 0%, 15%);
}

.sceltaMateriali
{
  position: absolute;
  top: 600px;
  height: 450px;
  width: 600px;
}

.sceltaMateriali p
{
  font-size: 22px;
  color: hsl(0, 0%, 35%);
  font-family: 'Times New Roman', sans-serif;
}

#LegnoPinoCorpo
{
  left: 5px;
  top: 100px;
}

#LegnoEbanoCorpo
{
  left: 110px;
  top: 100px;
}

#LegnoPinoCassetti
{
  left: 5px;
  top: 250px;
}

#LegnoEbanoCassetti
{
  left: 110px;
  top: 250px;
}

#Oro
{
  left: 215px;
  top: 250px;
}

#LegnoPinoCorpo, #LegnoEbanoCorpo, #LegnoPinoCassetti, #LegnoEbanoCassetti, #Oro
{
  width: 100px;
  position: absolute;
  border: 0px solid gray;
  border-radius: 5px;
}

#corpocomodino, #piedicassetti{
  font-size: 16px;
  position: absolute;
  left: 5px;
}

#piedicassetti{
  top: 200px;
}

#corpocomodino{
  top: 50px;
}

.Referenze{
  position: relative;
  margin: 1px;
  border-radius: 5px;
  left:10%;
  width: 100%;
}

.Referenze li{
  font-family: 'Georgia', serif;
  font-style: oblique;
  border: 0px solid;
  border-radius: 5px;
  color: hsl(0, 0%, 15%);
  letter-spacing: 2px;
  height: 20px;
  margin: 0px;
  text-align: center;
  padding: 0px;
  width: 15%;
  top: 10px;
  display: inline-block;
}

.contatti {
  position: absolute;
  width: 20%;
  height: 100px;
  display: inline-block;
  left: 45%;
  top:1400px;
}

.contatti h6 {
  left: 30%;
  bottom: 30%;
  font-size: 17px;
}

.contatti img{
  position: absolute;
  max-width: 50px;
  max-height: 50px;
  bottom: 20px;
  border: 0px solid white;
  border-radius: 5px;
}
